body {
    font-family: Arial, sans-serif;
    flex-direction: row;
    display: block;
    margin: 0;
    margin-bottom: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

input[type=checkbox].toggle {
    display: none;
}

input[type=checkbox].toggle+label {
    display: inline-block;
    height: 60px;
    width: 200px;
    position: relative;
    font-size: 20px;
    border: 4px solid #000000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input[type=checkbox].toggle+label:before {
    position: absolute;
    top: 4px;
    height: 44px;
    width: 44px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

input[type=checkbox].toggle+label:after {
    width: 140px;
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
}

input[type=checkbox].toggle:not(:checked)+label {
    background-color: transparent;
    text-align: right;
}

input[type=checkbox].toggle:not(:checked)+label:after {
    content: attr(data-unchecked);
    right: 0;
    left: auto;
    opacity: 1;
    color: black;
}

input[type=checkbox].toggle:not(:checked)+label:before {
    left: 4px;
    background-color: #000000;
}

input[type=checkbox].toggle:checked+label {
    text-align: left;
    border-color: black;
}

input[type=checkbox].toggle:checked+label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    color: black;
    opacity: 1;
}

input[type=checkbox].toggle:checked+label:before {
    left: 144px;
    background-color: #000000;
}

.body-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
}

.code-container,
.result-container,
.output-graph {
    flex: 1;
    border: 1px solid
}

.output-graph {
    position: relative;
    display: block;
    background: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
        linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 25px 25px;
    overflow: visible;
}

.python-code-result {
    display: none;
}

button {
    cursor: pointer;
}

.textarea {
    resize: none;
    /*  No resizing */
    width: calc((100vw / 3));
    /* Width is 1/3rd of total viewport width minus 35 pixels */
    height: calc(100vh - 90px);
    /* Height is viewport height minus 90 pixels */
    margin-left: 5px;
    margin-right: 5px;
}

.console-output {
    position: absolute;
    /* Align console box with bottom of container */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f5f5;
    border-top: 1px solid #ccc;
    padding: 10px;
    height: 50px;
    overflow-y: scroll;
    font-family: monospace;
    color: #333;
}

.run-code-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s;
    z-index: 10;
}

.run-code-btn .icon-play::before {
    content: "\25BA";
    /* Unicode for play icon */
}

.run-code-btn .icon-stop::before {
    content: "\25A0";
    /* Unicode for stop icon */
}

.run-code-btn.stop {
    background-color: red;
}

.run-code-btn::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 110%;
    /* Slightly below the button */
    left: 60%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 100;
}

.run-code-btn:hover::after {
    opacity: 1;
    visibility: visible;
}

#blocklyDiv {
    margin-bottom: 5px; 
    
}