body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Top Navigation Bar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007ACC;
    color: white;
    padding: 15px 20px;
}

.top-bar .nav-left {
    display: flex;
    gap: 10px;
}

.nav-right button {
    background-color: #fff;
    color: #000000;
    padding: 5px 10px;
}

.body-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 56px);
}

.code-container,
.result-container {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}


.output-graph {
    flex: 1;
    position: relative;
    display: block;
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    background: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
                linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 25px 25px; /* Adjust the size of the grid squares */
    overflow: hidden;
}

.toggle-button {
    display: block;
    margin-bottom: 10px;
}

.block-code,
.python-code,
.block-code-result,
.python-code-result {
    display: none;
}

button {
    cursor: pointer;
}

.box-container {
    position: relative;
    flex-direction: column;
    color: black;
}

.box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 10px;
    border: 1px solid black;
    cursor: pointer;

}

.textarea {
    resize: none; /*  No resizing */ 
    width: calc((100vw / 3) - 35px); /* Width is 1/3rd of total viewport width minus 35 pixels */ 
    height: calc(100vh - 90px); /* Height is viewport height minus 90 pixels */ 

}

.console-output {
    position: absolute; /* Align console box with bottom of container */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f5f5;
    border-top: 1px solid #ccc;
    padding: 10px;
    height: 50px;
    overflow-y: scroll;
    font-family: monospace;
    color: #333;
}
